{{define "controlchoice"}}{{$n := len .}}{{range $i, $e := .}}                    {
{{if .Section}}                        "SectionTitle": "{{.Section}}",
{{end}}                        "Ref": "{{.Ref}}",
                        "Type": "booleanInput",
                        "IsMandatory": false,
                        "IsReadonly": false,
                        "Label": "{{.Label}}"
                    }{{if lt (plus1 $i) $n}},
{{end}}{{end}}{{end}}